@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

body .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body .container{
    width: 75%;
    display: flex;    
    background: hsl(244, 38%, 16%);
    border-radius: 10px 0 0 10px;
}

body .insights{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
        
}

body .image{
    width: 80%;
    background: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 10px 10px 0;
}
